<!DOCTYPE html>
<html lang="id">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="TakeDish - Satisfy your cravings, anywhere, anytime" />
  <title>TakeDish</title>
  <link rel="preconnect" href="https://restaurant-api.dicoding.dev">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>

<body>
  <a href="#/main-content"  class="skip-link" aria-label="Skip to content">Skip to content?</a>
  <app-bar></app-bar>
  <main id="content"></main>
  <footer>
    <p>&copy;2023 - TakeDish</p>
  </footer>
</body>

</html>